[dev]
permissions: 523365392
default_bot_channel: bot_testing
admin_roles: ['RaceBot Admin', 'Racebot Admin', 'Bot Command', 'Bot']

[prod]
permissions: 523365392
default_bot_channel: bot_testing
admin_roles: ['RaceBot Admin', 'Racebot Admin', 'Bot Command', 'Bot']
